<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" th:href="@{/resources/dashboard_files/favicon.png}"/>	

    <title>Game - Dòng tiền</title>

    <!-- Core CSS - Include with every page -->
    <link href="../css/bootstrap.min.css" rel="stylesheet"  th:href="@{/resources/sb-admin-v2/css/bootstrap.min.css}"/>
    <link href="../font-awesome/css/font-awesome.css" rel="stylesheet"  th:href="@{/resources/sb-admin-v2/font-awesome/css/font-awesome.css}"/>
	<link href="../bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" media="all" th:href="@{/resources/bootstrap-daterangepicker/daterangepicker-bs3.css}"/>

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="../css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" th:href="@{/resources/sb-admin-v2/css/plugins/dataTables/dataTables.bootstrap.css}"/>
    <link href="../css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet"  th:href="@{/resources/sb-admin-v2/css/plugins/morris/morris-0.4.3.min.css}"/>
    <link href="../css/plugins/timeline/timeline.css" rel="stylesheet"  th:href="@{/resources/sb-admin-v2/css/plugins/timeline/timeline.css}"/>

    <!-- SB Admin CSS - Include with every page -->
    <link href="../css/sb-admin.css" rel="stylesheet"  th:href="@{/resources/sb-admin-v2/css/sb-admin.css}"/>

</head>

<body>

    <div id="wrapper">
		<div data-th-replace="fragments/sb-admin :: top-nav"></div>
    		<div data-th-replace="fragments/sb-admin :: vert-nav-admin"></div>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Dòng tiền</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
			<div class="row">
				<div class="panel-body">
					<form role="form" method="post" action="cashflow/detail.html" th:action="@{/cashflow/detail.html}">
						<div class="row">
							<div class="col-lg-4">
								<label>&nbsp;</label>
								<div class="input-prepend input-group">
									<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
									<input type="text" name = "from_date" id = "from_date" hidden="true" th:value="${from_date}"/>
									<input type="text" name = "to_date" id = "to_date" hidden="true"  th:value="${to_date}"/> 
									<input type="text" style="width: 100%" name="date_range" id="reservationtime" class="form-control span4"
										value="08/01/2013 - 08/01/2013" th:value="${from_date} + ' - ' + ${to_date}" readonly="readonly" />
								</div>
							</div>
							<div class="col-lg-2">
								<label>&nbsp;</label>
								<div>
									<button type="submit" class="btn btn-info">Xem thông tin</button>
								</div>
							</div>							
						</div>
						<br/>
					</form>
					<!-- /.row (nested) -->
				</div>
				<!-- /.panel-body -->
			</div>
			<div class="row">
				<div class="col-lg-12">
				<div class="panel panel-yellow">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="morris-bar-chart-koin"></div>
                    </div>
                    <!-- /.panel-body -->
                    </div>
                    <!-- col-lg-12 -->
                </div>
				<!-- /.panel-body -->
			</div>
			<div class="row">
	            <div class="col-lg-12">
					<div class="alert alert-info alert-dismissable">
                         <span id="lblDataExt"></span>
                     </div>
	            </div>
			</div>
			<div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-green" th:if="${cashflow_list} != null">
                        <div class="panel-heading">
                            Tổng tiền
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="tblSumDetail">
                                    <thead>
                                        <tr>
                                            <th width="20">TT</th>
                                            <th>Ngày</th>
                                            <th>Tổng vào</th>
                                            <th>Tổng ra </th>
                                            <th>Chênh lệch</th>
                                            <th>Nạp thẻ cào</th>
                                            <th>Nạp SMS</th>
                                            <th>Nạp IAP</th>
                                            <th>Admin cộng/trừ tiền</th>
                                            <th>Cộng tiền cho bot</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="cashOneDay, iterStat : ${cashflow_list}">
                                            <td>
                                            	<a href="#" th:href="@{'#'}" th:text="${iterStat.count}">1</a>
                                            </td>
                                            <td th:text="${cashOneDay.datetime}">2014-09-01</td>
                                            <td th:text="${#numbers.formatDecimal(cashOneDay.cashIn, 0, 'COMMA', 0, 'POINT')}"> 0 </td>
                                            <td th:text="${#numbers.formatDecimal(cashOneDay.cashOut, 0, 'COMMA', 0, 'POINT')}"> 0 </td>
                                            <td th:text="${#numbers.formatDecimal(cashOneDay.diff, 0, 'COMMA', 0, 'POINT')}"> 0 </td>
                                            <td th:text="${#numbers.formatDecimal(cashOneDay.topupCard, 0, 'COMMA', 0, 'POINT')}"> 0 </td>
                                            <td th:text="${#numbers.formatDecimal(cashOneDay.topupSms, 0, 'COMMA', 0, 'POINT')}"> 0 </td>
                                            <td th:text="${#numbers.formatDecimal(cashOneDay.topupIap, 0, 'COMMA', 0, 'POINT')}"> 0 </td>
                                            <td th:text="${#numbers.formatDecimal(cashOneDay.adminAdd, 0, 'COMMA', 0, 'POINT')}"> 0 </td>
                                            <td th:text="${#numbers.formatDecimal(cashOneDay.autoAdd, 0, 'COMMA', 0, 'POINT')}"> 0 </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary" th:if="${cashflow_list} != null">
                        <div class="panel-heading">
                            Tiền trong game
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="tblInGameDetail">
                                    <thead>
                                        <tr>
                                            <th width="20">TT</th>
                                            <th>Ngày</th>
                                            <th>Reset về 0</th>
                                            <th>Cược gà</th>
                                            <th>Kết thúc ván</th>
                                            <th>Thoát phòng</th>
                                            <th>Bị chặt</th>
                                            <th>Ù K</th>
                                            <th>Tổng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="cashOneDay, iterStat : ${cashflow_list}">
                                            <td>
                                            	<a href="#" th:href="@{'#'}" th:text="${iterStat.count}">1</a>
                                            </td>
                                            <td th:text="${cashOneDay.datetime}">2014-09-01</td>
                                            <td th:text="${#numbers.formatDecimal(cashOneDay.systemReset, 0, 'COMMA', 0, 'POINT')}"> 0 </td>
                                            <td th:text="${#numbers.formatDecimal(cashOneDay.betGa, 0, 'COMMA', 0, 'POINT')}"> 0 </td>
                                            <td th:text="${#numbers.formatDecimal(cashOneDay.endMatch, 0, 'COMMA', 0, 'POINT')}"> 0 </td>
                                            <td th:text="${#numbers.formatDecimal(cashOneDay.leaveRoom, 0, 'COMMA', 0, 'POINT')}"> 0 </td>
                                            <td th:text="${#numbers.formatDecimal(cashOneDay.punishCard, 0, 'COMMA', 0, 'POINT')}"> 0 </td>
                                            <td th:text="${#numbers.formatDecimal(cashOneDay.uhKk, 0, 'COMMA', 0, 'POINT')}"> 0 </td>
                                            <td th:text="${#numbers.formatDecimal(cashOneDay.uhKk + cashOneDay.punishCard + cashOneDay.leaveRoom + cashOneDay.endMatch + cashOneDay.betGa + cashOneDay.systemReset, 0, 'COMMA', 0, 'POINT')}"> 0 </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-yellow" th:if="${cashflow_list} != null">
                        <div class="panel-heading">
                            Tiền khuyến mãi
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="tblBonussDetail">
                                    <thead>
                                        <tr>
                                           <th width="20">TT</th>
                                           <th>Ngày</th>
                                           <th>Thành tựu</th>
                                           <th>Nhận thưởng</th>
                                           <th>NV hàng ngày</th>
                                           <th>Đăng nhập</th>
                                           <th>Đăng ký</th>
                                           <th>Khác</th>
                                           <th>Tổng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="cashOneDay, iterStat : ${cashflow_list}">
                                            <td>
                                            	<a href="#" th:href="@{'#'}" th:text="${iterStat.count}">1</a>
                                            </td>
                                            <td th:text="${cashOneDay.datetime}">2014-09-01</td>
                                            <td th:text="${#numbers.formatDecimal(cashOneDay.achivement, 0, 'COMMA', 0, 'POINT')}"> 0 </td>
                                            <td th:text="${#numbers.formatDecimal(cashOneDay.claimReward, 0, 'COMMA', 0, 'POINT')}"> 0 </td>
                                             <td th:text="${#numbers.formatDecimal(cashOneDay.dailyTask, 0, 'COMMA', 0, 'POINT')}"> 0 </td>
                                             <td th:text="${#numbers.formatDecimal(cashOneDay.login, 0, 'COMMA', 0, 'POINT')}"> 0 </td>
                                            <td th:text="${#numbers.formatDecimal(cashOneDay.register, 0, 'COMMA', 0, 'POINT')}"> 0 </td>
                                            <td th:text="${#numbers.formatDecimal(cashOneDay.other, 0, 'COMMA', 0, 'POINT')}"> 0 </td>
                                            <td th:text="${#numbers.formatDecimal(cashOneDay.other + cashOneDay.register + cashOneDay.login + cashOneDay.dailyTask + cashOneDay.claimReward +  cashOneDay.achivement, 0, 'COMMA', 0, 'POINT')}"> 0 </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
            <div hidden="true" id = "jsonData" th:text="${cashflow}">
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="../js/jquery-1.10.2.js" th:src="@{/resources/sb-admin-v2/js/jquery-1.10.2.js}"></script>
    <script src="../js/bootstrap.min.js" th:src="@{/resources/sb-admin-v2/js/bootstrap.min.js}"></script>
    <script src="../js/plugins/metisMenu/jquery.metisMenu.js" th:src="@{/resources/sb-admin-v2/js/plugins/metisMenu/jquery.metisMenu.js}"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="../js/plugins/morris/raphael-2.1.0.min.js" th:src="@{/resources/sb-admin-v2/js/plugins/morris/raphael-2.1.0.min.js}"></script>
    <script src="../js/plugins/morris/morris.js" th:src="@{/resources/sb-admin-v2/js/plugins/morris/morris.js}"></script>
    <!-- Page-Level Plugin Scripts - Tables -->
    <script src="../js/plugins/dataTables/jquery.dataTables.js" th:src="@{/resources/sb-admin-v2/js/plugins/dataTables/jquery.dataTables.js}"></script>
    

    <!-- SB Admin Scripts - Include with every page -->
    <script src="../js/sb-admin.js" th:src="@{/resources/sb-admin-v2/js/sb-admin.js}"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <script type="text/javascript" src="../bootstrap-daterangepicker/moment.js" th:src="@{/resources/bootstrap-daterangepicker/moment.js}"></script>
	<script type="text/javascript" src="../bootstrap-daterangepicker/daterangepicker.js" th:src="@{/resources/bootstrap-daterangepicker/daterangepicker.js}"></script>
    
    <script th:inline="javascript">
    	/*<![CDATA[*/
    		var data = [];
    	/*]]>*/
	</script>
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
	    $(document).ready(function() {
	    	/*  $('#tblSumDetail').dataTable();
	    	 $('#tblInGameDetail').dataTable();
	    	 $('#tblBonussDetail').dataTable(); */
	    	 
	    	$('#reservationtime').daterangepicker({
				timePicker: false, 
		     	format: 'YYYY/MM/DD'
			}, function(start, end, label) {
				   console.log('A date range was chosen: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
				   $('#from_date').val(start.format('YYYY-MM-DD'));
				   $('#to_date').val(end.format('YYYY-MM-DD'));
			});
            data = $("#jsonData").html();
	    	data = $.parseJSON( data );
			graph.setData(data);

	    });
		var graph = Morris.Bar({
			element: 'morris-bar-chart-koin',
			data: data,
			xkey: 'datetime',
			ykeys: ['cashIn', 'cashOut', 'diff'],
			labels: ['Tiền vào', 'Tiền ra', 'Chênh lệch'],
		    parseTime: false,
		    ymin: 'auto',
		    ymax: 'auto',
		    hideHover: true
		});
    </script>
</body>

</html>
