<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head>
        <meta charset="utf-8" />       
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" th:href="@{/resources/dashboard_files/favicon.png}"/>
        <title data-th-text="#{admin.page.title}">Title</title>
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" th:href="@{/resources/dashboard_files/favicon.png}"/>	
        <!-- Core CSS - Include with every page -->
        <link href="css/bootstrap.min.css" rel="stylesheet"
              th:href="@{/resources/sb-admin-v2/css/bootstrap.min.css}" />
        <link href="font-awesome/css/font-awesome.css" rel="stylesheet"
              th:href="@{/resources/sb-admin-v2/font-awesome/css/font-awesome.css}" />
        <link rel="stylesheet" type="text/css" media="all"
              href="bootstrap-daterangepicker/daterangepicker-bs3.css"
              th:href="@{/resources/bootstrap-daterangepicker/daterangepicker-bs3.css}" />
		<!-- validate css-->
		<link rel="stylesheet" type="text/css"  th:href="@{/resources/jquery-validation-1.13.1/css/style.css}" /> 
        <!-- Page-Level Plugin CSS - Dashboard -->
        <link href="css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet"
              th:href="@{/resources/sb-admin-v2/css/plugins/morris/morris-0.4.3.min.css}" />
        <link href="css/plugins/timeline/timeline.css" rel="stylesheet" th:href="@{/resources/sb-admin-v2/css/plugins/timeline/timeline.css}" />
        <!-- SB Admin CSS - Include with every page -->
        <link href="css/sb-admin.css" rel="stylesheet" th:href="@{/resources/sb-admin-v2/css/sb-admin.css}" />
    </head>

    <body>

        <div id="wrapper">
		<div th:if="${userType} == 1">
			<div data-th-replace="fragments/sb-admin :: top-nav"></div>
			<div data-th-replace="fragments/sb-admin :: vert-nav-admin"></div>
		</div>
		<div th:if="${userType} == 2">
			<div data-th-replace="fragments/sb-admin :: top-nav"></div>
			<div data-th-replace="fragments/sb-admin :: vert-nav-admin"></div>
		</div>		
		<div th:if="${userType} == 3">
          	<div data-th-replace="cskh/sb-care :: top-nav"></div>
    		<div data-th-replace="cskh/sb-care :: vert-nav-admin"></div>
		</div>
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Claim Messages</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <form id="UserForm" class="form-horizontal"  action="/users/claim.html" th:action="@{/users/claim.html}" method="POST">
                             <fieldset>
                             <div class="row">
                                    <div class="col-lg-12">
                                        <div class="alert alert-warning" th:if="${err} != null">
                                            <span th:text="${err}">Lỗi</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <ul class="nav nav-pills">
                                            <li><p>Nội dung</p></li>
                                            <li th:if="${userType} != 3" class="pull-right"><a class="btn btn-danger btn-lg" th:href="@{/users/search_users.html}" title="Bỏ qua">
                                                    <i class="fa fa-list"> </i>
                                                </a></li>
                                            <li th:if="${userType} != 3" class="pull-right"><button class="btn btn-info btn-lg" type="submit" title="Lưu">
                                                    <i class="fa fa-check"> </i>
                                                </button></li>                                            
                                        </ul>
                                    </div>
                                    <div class="panel-body">
	                                    <div class="row">
	                                     <div class="col-md-8 col-md-offset-1">
	                                     		<div class="form-group">
                                                    <label class="col-lg-4 control-label">Tiêu đề: </label>
                                                    <div class="col-lg-8">
                                                        <input class="form-control" name="title"  id="title" th:value="${title}" placeholder="title....." type="text"/>                                                    	
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-4 control-label">Nội dung: </label>
                                                    <div class="col-lg-8">
                                                    	<textarea class="form-control" id="content" name="content" th:value="${content}" rows="3" placeholder="Nội dung phản hồi....."></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-4 control-label">Giá trị: </label>
                                                    <div class="col-lg-8">
                                                    	<input class="form-control" id="value" name="value" th:value="${value}" placeholder="Giá trị....."></input>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-4 control-label">User names: </label>
                                                    <div class="col-lg-8">
                                                    	<textarea class="form-control" id="usernames" name="usernames" rows="9" th:value="${usernames}" placeholder="username cách nhau dấu ';'....."></textarea>
                                                    </div>
                                                </div>
	                                     </div>
	                                    </div>
                                    </div> <!-- end panel-body -->
                                  </div><!-- end panel-->
                             </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#wrapper -->

        <!-- Core Scripts - Include with every page -->
        <script src="js/jquery-1.10.2.js"
        th:src="@{/resources/sb-admin-v2/js/jquery-1.10.2.js}"></script>
        <script src="js/bootstrap.min.js"
        th:src="@{/resources/sb-admin-v2/js/bootstrap.min.js}"></script>
        <script src="js/plugins/metisMenu/jquery.metisMenu.js"
        th:src="@{/resources/sb-admin-v2/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
        <!-- form validate -->
         <script src="/resources/jquery-validation-1.13.1/jquery.validate.min.js" th:src="@{/resources/jquery-validation-1.13.1/jquery.validate.min.js}"></script>
        <script src="/resources/jquery-validation-1.13.1/additional-methods.min.js" th:src="@{/resources/jquery-validation-1.13.1/additional-methods.min.js}"></script>   
        <script src="/resources/jquery-validation-1.13.1/jquery-ui.min.js" th:src="@{/resources/jquery-validation-1.13.1/jquery-ui.min.js}"></script>  
   
        <!-- SB Admin Scripts - Include with every page -->
        <script src="js/sb-admin.js"
        th:src="@{/resources/sb-admin-v2/js/sb-admin.js}"></script>
 		<script>
            $(document).ready(function () {
             // validate signup form on keyup and submit
        		$("#UserForm").validate({
        			rules: {
        				title: {
        					required: true,
        				},
        				content: {
        					required: true,
        				},
        				value: {
        					required: true,
        					number: true,
        				},
        				usernames: {
        					required: true,
        				}
        			},
        			messages: {        				
        				title: {
        					required: "Please enter a title",
        				
        				},
        				content: {
        					required: "Please enter a content",
        				}
        				,
        				value: {
        					required: "Please enter a value",
        				}
        				,
        				usernames: {
        					required: "Please enter usernames",
        				}
        			}
        		});
            });
        </script>
    </body>

</html>