<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<head>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="icon" type="image/png" sizes="96x96"
			  href="/favicon-96x96.png"
			  th:href="@{/resources/dashboard_files/favicon.png}" />

		<title data-th-text="#{admin.page.title}">Game - User Detail</title>

		<!-- Core CSS - Include with every page -->
		<link href="../css/bootstrap.min.css" rel="stylesheet"
			  th:href="@{/resources/sb-admin-v2/css/bootstrap.min.css}" />
		<link href="../font-awesome/css/font-awesome.css" rel="stylesheet"
			  th:href="@{/resources/sb-admin-v2/font-awesome/css/font-awesome.css}" />
		<link rel="stylesheet" type="text/css" media="all"
			  href="../bootstrap-daterangepicker/daterangepicker-bs3.css"
			  th:href="@{/resources/bootstrap-daterangepicker/daterangepicker-bs3.css}" />
		<!-- DataTables CSS -->
		<link href="css/plugins/dataTables.bootstrap.css" rel="stylesheet"
			  th:href="@{/resources/sb-admin-v2/css/plugins/dataTables/jquery.dataTables.min.css}" />
		<link href="css/plugins/responsive.dataTables.min.css" rel="stylesheet"
			  th:href="@{/resources/sb-admin-v2/css/plugins/dataTables/responsive.dataTables.min.css}" />
		<!-- Page-Level Plugin CSS - Dashboard -->
		<link href="../css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet"
			  th:href="@{/resources/sb-admin-v2/css/plugins/morris/morris-0.4.3.min.css}" />
		<link href="../css/plugins/timeline/timeline.css" rel="stylesheet"
			  th:href="@{/resources/sb-admin-v2/css/plugins/timeline/timeline.css}" />
		<link href="../bootstrapformhelpers/css/bootstrap-formhelpers.min.css"
			  rel="stylesheet"
			  th:href="@{/resources/bootstrapformhelpers/css/bootstrap-formhelpers.min.css}" />
		<!-- SB Admin CSS - Include with every page -->
		<link href="../css/sb-admin.css" rel="stylesheet"
			  th:href="@{/resources/sb-admin-v2/css/sb-admin.css}" />

	</head>

	<body>

		<div id="wrapper">
			<div data-th-replace="fragments/sb-admin :: top-nav"></div>
			<div data-th-replace="fragments/sb-admin :: vert-nav-admin"></div>
			<div id="page-wrapper">
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">
							<span th:text="${user.fullname}">vinhbt</span>
						</h1>
						<p th:if="${change_pass_success == true}">
							Đổi mật khẩu thành công!
						</p>
					</div>
					<!-- /.col-lg-12 -->
				</div>
				<div class="row" th:if="${get_back_success == true}">
					<div class="col-lg-12">
						<div class="alert alert-success">
							<p>Thực hiện thu hồi gold về hệ thống thành công. Tài khoản: <span th:text="${user.fullname}"></span></p>
							<p>Số gold trước khi thu hồi: <span th:text="${prev_gold_number}"></span> Gold</p>
							<p>Số gold thu hồi: <span th:text="${get_back_gold_number}"></span> Gold </p>
							<p>Số gold sau khi thu hồi: <span th:text="${after_gold_number}"></span> Gold </p>
							<p>Lí do thu hồi: <span th:text="${reason}"></span> </p>
						</div>
					</div>
				</div>
				<!-- /.row -->
				<div class="row">
					<div class="col-lg-12">
						<form role="form" method="post" action="edit_user.html"
							  th:action="@{/users/edit_user.html}">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title pull-left">Thông tin khách hàng</h3>
									<ul class="list-unstyled">
										<li class="pull-right"><a class="btn btn-danger btn-sm"
																  th:href="@{/users/search_users.html}" title="Bỏ qua"
																  th:text="#{button.action.cancel}"> <i class="fa fa-check">
												</i>
											</a></li>
										<span class="pull-right"> &nbsp;&nbsp;&nbsp; </span>
										<li class="pull-right" th:if="${userType  == 1 or userType  == 2}"><button class="btn btn-info btn-sm"
																												   type="submit" title="Lưu" th:text="#{button.action.save}">
												<i class="fa fa-check"> </i>
											</button></li>
									</ul>
									<div class="clearfix"></div>
								</div>

								<div class="panel-body">
									<div class="row">
										<div class="col-lg-6">
											<input type="hidden" name="" value="" />
											<div class="form-group" >
												<label>Id</label> <input class="form-control"
																		 th:value="${user.id}" name="user_id" readonly="readonly"
																		 id="userId" />
											</div>
											<div class="form-group">
												<label>Tên đăng nhập</label> <input class="form-control"
																					th:value="${user.username}" name="username"
																					readonly="readonly" />
											</div>
											<div class="form-group">
												<label>Số Gold hiện tại</label>
												<input class="form-control" id="current_user_gold"
													   th:value="${user.gold.gold}" name="gold"
													   readonly="readonly" />
											</div>
											<div class="form-group">
												<label>Ngày đăng ký</label> <input class="form-control"
																				   th:value="${user.dateCreated}" name="dateCreated"
																				   readonly="readonly" />
											</div>
											<div class="form-group">

												<label>Mã loại user</label> <input
													class="form-control" th:value="${user.providerCode}"
													name="providerCode" readonly="readonly" />

											</div>
											<div class="form-group">

												<label>Mã đại lý</label> <input
													class="form-control" th:value="${user.refcode}"
													name="refcode" readonly="readonly" />

											</div>
											<div class="form-group">
												<label>G2FA?</label> <input
													class="form-control" th:value="${user.g2fa}"
													name="g2fa" readonly="readonly" />
											</div>
											<div class="form-group">
												<label>Login G2FA?</label> <input
													class="form-control" th:value="${user.loginG2fa}"
													name="loginG2fa" readonly="readonly" />
											</div>
											<div class="form-group">

												<label>Mã 16 G2FA</label> <input
													class="form-control" th:value="${user.g2faSecret}"
													name="g2fa_secret" readonly="readonly" />

											</div>
											<div class="form-group">
												<label>Trạng thái</label> <select name="userStatus"
																				  id="userStatus" class="form-control"  readonly="readonly" disabled="true">
													<option th:selected="${user.status == 0}" value="0">ACTIVE</option>
													<option th:selected="${user.status == 1}" value="1">LOCK</option>
													<option th:selected="${user.status == 2}" value="2">LOCK_CASHOUT</option>
													<option th:selected="${user.status == 3}" value="3">LOCK_FREE_SPIN</option>
													<option th:selected="${user.status == 4}" value="4">LOCK_FREE_POCKER</option>
												</select>
											</div>
										</div>
										<div class="col-lg-6">

											<div class="form-group">
												<label>Tên hiển thị</label>
												<input class="form-control" th:value="${user.fullname}" name="fullname" />
											</div>
											<div class="form-group">
												<label>Số điện thoại</label> 
												<input class="form-control" th:value="${user.mobile}" name="mobile" />
											</div>
											<div class="form-group">
												<label>Địa chỉ</label> 
												<input class="form-control" th:value="${user.address}" name="address" />
											</div>
											<div class="form-group">
												<label>Email</label> 
												<input class="form-control" th:value="${user.email}" name="email" />
											</div>
											<div class="form-group">
												<label>Ngày sinh</label> 
												<input class="form-control" th:value="${user.birthday}" name="birthday" />
											</div>
											<div class="form-group">
												<label>Giới tính</label> 
												<select name="gender" id="gender" class="form-control" >
													<option th:selected="${user.gender == 0}" value="0">Nam</option>
													<option th:selected="${user.gender == 1}" value="1">Nữ</option>
												</select>
											</div>
											<hr/>
											<div class="form-group">
												<label>Mật khẩu mới</label> <input
													class="form-control"
													name="new_password" />
												<label>Xác nhận mật khẩu mới</label> <input
													class="form-control"
													name="verify_password" />
											</div>
										</div>
										<!-- /.col-lg-6 (nested) -->
									</div>
									<!-- /.row (nested) -->
								</div>
								<!-- /.panel-body -->
							</div>
						</form>
						<!-- /.panel -->
					</div>
					<!-- /.col-lg-12 -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /#page-wrapper -->
		</div>
		<!-- /#wrapper -->

		<!-- Core Scripts - Include with every page -->
		<script src="../js/jquery-1.10.2.js"
		th:src="@{/resources/sb-admin-v2/js/jquery-1.10.2.js}"></script>
		<script src="../js/bootstrap.min.js"
		th:src="@{/resources/sb-admin-v2/js/bootstrap.min.js}"></script>
		<script src="../js/plugins/metisMenu/jquery.metisMenu.js"
		th:src="@{/resources/sb-admin-v2/js/plugins/metisMenu/jquery.metisMenu.js}"></script>

		<!-- Page-Level Plugin Scripts - Dashboard -->
		<script src="../bootstrapformhelpers/js/bootstrap-formhelpers.js"
		th:src="@{/resources/bootstrapformhelpers/js/bootstrap-formhelpers.js}"></script>
		<script type="text/javascript"
				src="../bootstrap-daterangepicker/moment.js"
		th:src="@{/resources/bootstrap-daterangepicker/moment.js}"></script>
		<script type="text/javascript"
				src="../bootstrap-daterangepicker/daterangepicker.js"
		th:src="@{/resources/bootstrap-daterangepicker/daterangepicker.js}"></script>
		<!-- Page-Level Plugin Scripts - Tables -->
		<script src="js/plugins/dataTables/jquery.dataTables.js"
		th:src="@{/resources/sb-admin-v2/js/plugins/dataTables/jquery.dataTables.min.js}"></script>
		<script src="js/plugins/dataTables/dataTables.bootstrap.js"
		th:src="@{/resources/sb-admin-v2/js/plugins/dataTables/dataTables.responsive.min.js}"></script>
		<!-- SB Admin Scripts - Include with every page -->
		<script src="../js/sb-admin.js"
		th:src="@{/resources/sb-admin-v2/js/sb-admin.js}"></script>

		<script th:inline="javascript">
			/*<![CDATA[*/
			var currUrl = /*[[@{/}]]*/"";
			$(document).ready(()=>{
				$('#current_user_gold').val(
					numberWithCommas( $('#current_user_gold').val())
				)
			});
			/*]]>*/
			const numberWithCommas = (x) => {
				return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			}
		</script>

		<!-- Page-Level Demo Scripts - Forms - Use for reference -->

	</body>

</html>
