<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1 , user-scalable=yes" />
<link rel="shortcut icon" href="/resources/dashboard_files/logo.jpg"
	th:src="@{/resources/dashboard_files/logo.jpg}" />
<!-- Core CSS - Include with every page -->
<!-- Core CSS - Include with every page -->
<link href="css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/resources/sb-admin-v2/css/bootstrap.min.css}" />
<link href="font-awesome/css/font-awesome.css" rel="stylesheet"
	th:href="@{/resources/sb-admin-v2/font-awesome/css/font-awesome.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="bootstrap-daterangepicker/daterangepicker-bs3.css"
	th:href="@{/resources/bootstrap-daterangepicker/daterangepicker-bs3.css}" />

<!-- Page-Level Plugin CSS - Dashboard -->
<link href="css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet"
	th:href="@{/resources/sb-admin-v2/css/plugins/morris/morris-0.4.3.min.css}" />
<link href="css/plugins/timeline/timeline.css" rel="stylesheet"
	th:href="@{/resources/sb-admin-v2/css/plugins/timeline/timeline.css}" />
<link href="../css/plugins/dataTables/dataTables.bootstrap.css"
	rel="stylesheet"
	th:href="@{/resources/sb-admin-v2/css/plugins/dataTables/dataTables.bootstrap.css}" />
<!-- SB Admin CSS - Include with every page -->
<link href="css/sb-admin.css" rel="stylesheet"
	th:href="@{/resources/sb-admin-v2/css/sb-admin-2.css}" />
<link href="css/metisMenu.min.css" rel="stylesheet"
	th:href="@{/resources/sb-admin-v2/css/metisMenu.min.css}" />
<title>Số liệu</title>
</head>
<body>
	<div id="wrapper">
		<nav data-th-fragment="top-nav"
			class="navbar navbar-default navbar-fixed-top" role="navigation"
			style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"
					th:href="@{/solieu/index.html}"><img alt="Brand"
					th:src="@{/resources/dashboard_files/logo.png}" /> <span
					class="slogan"> Số liệu</span> </a>
			</div>
			<!-- /.navbar-header -->
			<ul class="nav navbar-top-links navbar-right">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i><span
						th:text=" ${session.principal}"></span><i class="fa fa-caret-down"></i></a>
					<ul class="dropdown-menu dropdown-user">
						<li><a href="#" th:href="@{/users/profile.html}"><i
								class="fa fa-user fa-fw"></i> Thông tin tài khoản</a></li>
						<li><a href="#" th:href="@{/user/change_password.html}"><i
								class="fa fa-gear fa-fw"></i> Đổi mật khẩu</a></li>
						<li class="divider"></li>
						<li><a href="login.html"
							th:href="@{/j_spring_security_logout}"><i
								class="fa fa-sign-out fa-fw"></i> Đăng xuất</a></li>
					</ul> <!-- /.dropdown-user --></li>
				<!-- /.dropdown -->
			</ul>
			<!-- /.navbar-top-links -->
		</nav>
		<!-- /.navbar-static-top -->
		<nav data-th-fragment="vert-nav-admin"
			class="navbar-default navbar-static-side" role="navigation">
			<div class="sidebar-nav navbar-collapse">
				<ul class="nav" id="side-menu">
					<li><a class="active" href="index.html"
						th:href="@{/solieu/index.html}"><i class="fa fa-home"></i>
							Trang chủ</a></li>
					<li><a href="index.html" th:href="@{/index.html}"><i
							class="fa fa-pie-chart fa-fw"></i> Thống kê <span
							class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li><a href="index.html"
								th:href="@{/statistics/user_active.html}"><i
									class="fa fa-area-chart"></i> Active Users</a></li>
							<li><a href="index.html" th:href="@{/statistics/arpu.html}"><i
									class="fa  fa-area-chart"></i> ARPU</a></li>
							<li><a href="index.html" th:href="@{/statistics/dpu.html}"><i
									class="fa  fa-area-chart"></i> DPU</a></li>
							<li><a href="index.html" th:href="@{/statistics/ccu.html}"><i
									class="fa fa-bar-chart"></i> CCU</a></li>
							<li><a href="index.html" th:href="@{/statistics/dpur.html}"><i
									class="fa fa-bar-chart"></i> DPU Rate</a></li>
						</ul></li>

					<li><a href="revenues.html"><i
							class="fa fa-dashboard fa-fw"></i> Báo cáo <span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li><a href="reports/revenues.html"
								th:href="@{/reports/revenues.html}"><i
									class="fa fa-money fa-fw"></i> Báo cáo doanh thu</a></li>
							<li><a href="reports/revenues_partners.html"
								th:href="@{/reports/revenues_partners.html}"><i
									class="fa fa-money fa-fw"></i> DT theo đối tác</a></li>
							<li><a href="reports/user_device_partners.html"
								th:href="@{/reports/user_device_partners.html}"><i
									class="fa fa-money fa-fw"></i> So sánh thiết bị</a></li>
							<li><a href="reports/card_topup.html"
								th:href="@{/reports/card_topup.html}"><i
									class="fa fa-money fa-fw"></i> Lịch sử nạp thẻ</a></li>
							<li><a href="reports/sms_history.html"
								th:href="@{/reports/sms_history.html}"><i
									class="fa fa-money fa-fw"></i> Lịch sử nạp SMS</a></li>
							<li><a href="reports/register_history.html"
								th:href="@{/reports/register_history.html}"><i
									class="fa fa-money fa-fw"></i> Lịch sử đăng ký TK</a></li>
							<li><a href="reports/device_history.html"
								th:href="@{/reports/device_history.html}"><i
									class="fa fa-money fa-fw"></i> Lịch sử đăng ký TB</a></li>
							<li><a href="reports/login_history.html"
								th:href="@{/reports/login_history.html}"><i
									class="fa fa-money fa-fw"></i> Lịch sử đăng nhập</a></li>
							<li><a href="reports/match_history.html"
								th:href="@{/reports/match_history.html}"><i
									class="fa fa-money fa-fw"></i> Lịch sử trận đánh</a></li>
							<li><a href="reports/report_hour.html"
								th:href="@{/reports/report_hour.html}"><i
									class="fa fa-money fa-fw"></i> Báo cáo theo giờ</a></li>
						</ul></li>

				</ul>
				<!-- /#side-menu -->
			</div>
			<!-- /.sidebar-collapse -->
		</nav>
		<!-- /.navbar-static-side -->
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Blank</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<!-- Core Scripts - Include with every page -->
	<script src="js/jquery-1.10.2.js"
		th:src="@{/resources/sb-admin-v2/js/jquery-1.10.2.js}"></script>
	<script src="js/bootstrap.min.js"
		th:src="@{/resources/sb-admin-v2/js/bootstrap.min.js}"></script>
	<script src="js/plugins/metisMenu/jquery.metisMenu.js"
		th:src="@{/resources/sb-admin-v2/js/plugins/metisMenu/jquery.metisMenu.js}"></script>

	<!-- Page-Level Plugin Scripts - Dashboard -->
	<script src="js/plugins/morris/raphael-2.1.0.min.js"
		th:src="@{/resources/sb-admin-v2/js/plugins/morris/raphael-2.1.0.min.js}"></script>
	<script src="js/plugins/morris/morris.js"
		th:src="@{/resources/sb-admin-v2/js/plugins/morris/morris.js}"></script>
</body>
</html>
