<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="utf-8"/>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" th:href="@{/resources/dashboard_files/favicon.png}"/>	

        <title data-th-text="#{admin.page.title}">Yoker - Tin nhắn</title>

        <!-- Core CSS - Include with every page -->
        <link href="css/bootstrap.min.css" rel="stylesheet"  th:href="@{/resources/sb-admin-v2/css/bootstrap.min.css}"/>
        <link href="font-awesome/css/font-awesome.css" rel="stylesheet"  th:href="@{/resources/sb-admin-v2/font-awesome/css/font-awesome.css}"/>
	<link href="../bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" media="all" th:href="@{/resources/bootstrap-daterangepicker/daterangepicker-bs3.css}"/>
        <!-- SB Admin CSS - Include with every page -->
        <link href="css/sb-admin.css" rel="stylesheet"  th:href="@{/resources/sb-admin-v2/css/sb-admin.css}"/>
		<!-- DataTables CSS -->
         <link href="css/plugins/dataTables.bootstrap.css" rel="stylesheet" th:href="@{/resources/sb-admin-v2/css/plugins/dataTables/jquery.dataTables.min.css}"/>
        <link href="css/plugins/responsive.dataTables.min.css" rel="stylesheet" th:href="@{/resources/sb-admin-v2/css/plugins/dataTables/responsive.dataTables.min.css}"/>
    </head>

    <body>

        <div id="wrapper">
		<div th:if="${userType} == 1">
			<div data-th-replace="fragments/sb-admin :: top-nav"></div>
			<div data-th-replace="fragments/sb-admin :: vert-nav-admin"></div>
		</div>
		<div th:if="${userType} == 2">
			<div data-th-replace="fragments/sb-admin :: top-nav"></div>
			<div data-th-replace="fragments/sb-admin :: vert-nav-admin"></div>
		</div>		
		<div th:if="${userType} == 3">
			<div data-th-replace="cskh/sb-care :: top-nav"></div>
			<div data-th-replace="cskh/sb-care :: vert-nav-admin"></div>
		</div>
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Tin nhắn</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
				<div class="panel-body">
					<form role="form" method="post" action="/config/messages.html" th:action="@{/config/messages.html}">
						<div class="row">
							<div class="col-lg-4">
								<label>&nbsp;</label>
								<div class="input-prepend input-group">
									<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
									<input type="text" name = "from_date" id = "from_date" hidden="true" th:value="${from_date}"/>
									<input type="text" name = "to_date" id = "to_date" hidden="true"  th:value="${to_date}"/> 
									<input type="text" style="width: 100%" name="date_range" id="reservationtime" class="form-control span4"
										value="08/01/2013 - 08/01/2013" th:value="${from_date} + ' - ' + ${to_date}" readonly="readonly" />
								</div>
							</div>
							<div class="col-lg-2">
								<label>&nbsp;</label>
								<div>
									<button type="submit" class="btn btn-info">Xem thông tin</button>
								</div>
							</div>							
						</div>
						<br/>
					</form>
					<!-- /.row (nested) -->
				</div>
				<!-- /.panel-body -->
			</div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-info" >
                            <div class="panel-heading">
                            <ul class="nav nav-pills">													
								<li class="active"><a href="#home" data-toggle="tab">Tin nhắn</a>
                                </li>
                                <li><a href="#receive" data-toggle="tab">Admin nhận</a>
                                </li>
                                <li><a href="#send" data-toggle="tab">Admin gửi</a>
                                </li>										                        
								<li class="pull-right"  th:if="${userType} == 1"><a type="button" class="btn btn-success btn-xs" href="new_message.html"><i class="fa fa-plus-circle"> New</i></a></li>														
							</ul>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body" th:if="${userMessages} != null">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="home">
                                    <div class="table-responsive">
                                    <table class="display responsive" width="100%" id="tableData">
                                        <thead>
                                            <tr>
                                                <th>TT</th>
                                                <th class="all">Tiêu đề</th>
                                                <th class="all">Nội dụng</th>
                                                <th class="desktop">Ngày tạo</th>
                                                <th class="all">người gửi</th>
                                                <th class="all">người nhận</th>
                                                <th class="all">Trạng thái</th>
                                                <th class="all">Loại tin nhắn</th>
                                                 <th class="all" th:if="${userType} == 1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="oneMsg, iterStat : ${userMessages}">
                                            	<td th:text="${iterStat.count}">tt</td>
                                                <td th:text="${oneMsg.title}">Hotline</td>
                                                <td th:text="${oneMsg.content}">Hotline</td>
                                                <td th:text="${oneMsg.createdDate}"></td>
                                                <td th:text="${oneMsg.sender != null}? ${oneMsg.sender.username} : 'null'"></td>
                                                <td th:text="${oneMsg.receipient != null}? ${oneMsg.receipient.username} : 'null'">  </td>
                                                 <td>
                                                    <div th:switch="''+${oneMsg.status}">
                                                        <p th:case="1">read</p>
                                                        <p th:case="0">new</p>													
                                                    </div>
                                                </td>
                                                <td>
                                                    <div th:switch="''+${oneMsg.type}">
                                                        <p th:case ="0">text</p>
                                                        <p th:case ="1">claim</p>
                                                    </div>
                                                </td> 
                                                 <td th:if="${userType} == 1">
                                                    <a type="button" class="btn btn-danger btn-xs" href="delete_message.html" th:href="@{/config/{id}/delete_message.html(id=${oneMsg.id})}">Xóa</a>
                                                </td>                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->   
                                </div>
                                <div class="tab-pane fade" id="receive">
                                  <div class="table-responsive">
                                    <table class="display responsive" width="100%" id="tableReceive">
                                        <thead>
                                            <tr>
                                                <th>TT</th>
                                                <th class="all">Tiêu đề</th>
                                                <th class="all">Nội dụng</th>
                                                <th class="desktop">Ngày tạo</th>
                                                <th class="all">người gửi</th>
                                                <th class="all">Trạng thái</th>
                                                <th class="all">Loại tin nhắn</th>
                                                <th class="all"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="oneMsg, iterStat : ${adminReceive}">
                                            	<td th:text="${iterStat.count}">tt</td>
                                                <td th:text="${oneMsg.title}">Hotline</td>
                                                <td th:text="${oneMsg.content}">Hotline</td>
                                                <td th:text="${oneMsg.createdDate}"></td>
                                                <td th:text="${oneMsg.sender != null}? ${oneMsg.sender.username} : 'null'"></td>
                                                 <td>
                                                    <div th:switch="''+${oneMsg.status}">
                                                        <p th:case="1">read</p>
                                                        <p th:case="0">new</p>													
                                                    </div>
                                                </td>
                                                <td>
                                                    <div th:switch="''+${oneMsg.type}">
                                                        <p th:case ="0">text</p>
                                                        <p th:case ="1">claim</p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a type="button" class="btn btn-success btn-xs" href="reply_message.html" th:href="@{/config/{id}/reply_message.html(id=${oneMsg.id})}">Trả lời</a>
                                                    <a type="button" class="btn btn-danger btn-xs" href="delete_message.html" th:href="@{/config/{id}/delete_message.html(id=${oneMsg.id})}">Xóa</a>
                                                </td>                                            
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->   
                                </div>
                                <div class="tab-pane fade" id="send">
                                    <div class="table-responsive">
                                    <table class="display responsive" width="100%" id="tableSend">
                                        <thead>
                                            <tr>
                                                <th>TT</th>
                                                <th class="all">Tiêu đề</th>
                                                <th class="all">Nội dụng</th>
                                                <th class="desktop">Ngày tạo</th>
                                                <th class="all">người nhận</th>
                                                <th class="all">Trạng thái</th>
                                                <th class="all">Loại tin nhắn</th>
                                                 <th class="all"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="oneMsg, iterStat : ${adminSend}">
                                            	<td th:text="${iterStat.count}">tt</td>
                                                <td th:text="${oneMsg.title}">Hotline</td>
                                                <td th:text="${oneMsg.content}">Hotline</td>
                                                <td th:text="${oneMsg.createdDate}"></td>
                                                <td th:text="${oneMsg.receipient != null}? ${oneMsg.receipient.username} : 'null'">  </td>
                                                 <td>
                                                    <div th:switch="''+${oneMsg.status}">
                                                        <p th:case="1">read</p>
                                                        <p th:case="0">new</p>													
                                                    </div>
                                                </td>
                                                <td>
                                                    <div th:switch="''+${oneMsg.type}">
                                                        <p th:case ="0">text</p>
                                                        <p th:case ="1">claim</p>
                                                    </div>
                                                </td>   
                                                <td>
                                                    <a type="button" class="btn btn-danger btn-xs" href="delete_message.html" th:href="@{/config/{id}/delete_message.html(id=${oneMsg.id})}">Xóa</a>
                                                </td>                                            
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->   
                                </div>
                            </div>
                            <!-- ./end tab -->
                                                            
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- Core Scripts - Include with every page -->
        <script src="js/jquery-1.10.2.js" th:src="@{/resources/sb-admin-v2/js/jquery-1.10.2.js}"></script>
        <script src="js/bootstrap.min.js" th:src="@{/resources/sb-admin-v2/js/bootstrap.min.js}"></script>
        <script src="js/plugins/metisMenu/jquery.metisMenu.js" th:src="@{/resources/sb-admin-v2/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
        <!-- SB Admin Scripts - Include with every page -->
        <script src="js/sb-admin.js" th:src="@{/resources/sb-admin-v2/js/sb-admin.js}"></script>
        <!-- Page-Level Plugin Scripts - Tables -->
        <script src="js/plugins/dataTables/jquery.dataTables.js" th:src="@{/resources/sb-admin-v2/js/plugins/dataTables/jquery.dataTables.min.js}"></script>
         <script src="js/plugins/dataTables/dataTables.bootstrap.js" th:src="@{/resources/sb-admin-v2/js/plugins/dataTables/dataTables.responsive.min.js}"></script>
<!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <script type="text/javascript" src="../bootstrap-daterangepicker/moment.js" th:src="@{/resources/bootstrap-daterangepicker/moment.js}"></script>
	<script type="text/javascript" src="../bootstrap-daterangepicker/daterangepicker.js" th:src="@{/resources/bootstrap-daterangepicker/daterangepicker.js}"></script>
        <!-- Page-Level Demo Scripts - Tables - Use for reference -->
        <script>
        $(document).ready(function() {
            $('#tableData').dataTable();
            $('#tableReceive').dataTable();
            $('#tableSend').dataTable();
            $('#reservationtime').daterangepicker({
				timePicker: false, 
		     	format: 'YYYY/MM/DD'
			}, function(start, end, label) {
				   console.log('A date range was chosen: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
				   $('#from_date').val(start.format('YYYY-MM-DD'));
				   $('#to_date').val(end.format('YYYY-MM-DD'));
			});
        });
        </script>

    </body>

</html>
