<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head>

        <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" th:href="@{/resources/dashboard_files/favicon.png}"/>	

        <title data-th-text="#{admin.page.title}">Yoker - Thành tích</title>

        <!-- Core CSS - Include with every page -->
        <link href="css/bootstrap.min.css" rel="stylesheet"  th:href="@{/resources/sb-admin-v2/css/bootstrap.min.css}"/>
         <!-- DataTables CSS -->
        <link href="css/plugins/dataTables.bootstrap.css" rel="stylesheet" th:href="@{/resources/sb-admin-v2/css/plugins/dataTables/dataTables.bootstrap.css}"/>
        <link href="font-awesome/css/font-awesome.css" rel="stylesheet"  th:href="@{/resources/sb-admin-v2/font-awesome/css/font-awesome.css}"/>
        <!-- SB Admin CSS - Include with every page -->
        <link href="css/sb-admin.css" rel="stylesheet"  th:href="@{/resources/sb-admin-v2/css/sb-admin.css}"/>
		<!-- validate css-->
		<link rel="stylesheet" type="text/css"  th:href="@{/resources/jquery-validation-1.13.1/css/style.css}" /> 
    </head>

    <body>

        <div id="wrapper">
           <div data-th-replace="fragments/sb-admin :: top-nav"></div>
    		<div data-th-replace="fragments/sb-admin :: vert-nav-admin"></div>
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Thành tích</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-lg-12">
					<form id="dataForm" class="form-horizontal" th:action="@{/config/achiments.html}" th:object="${achievement}" method="POST">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                            	<ul class="nav nav-pills">
								<li class="pull-right"><a name="cancel" class="btn btn-danger btn-lg" title="Trở về" th:href="@{/config/achiments.html}"><i class="fa fa-list"></i></a></li>
								<li class="pull-right"><button type="submit" class="btn btn-info btn-lg" title="Lưu"><i class="fa fa-check"></i></button></li>																
							</ul>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="row">									
									<div class="col-md-8 col-md-offset-1">
									<div class="form-group">
											<label for="Name" class="col-sm-4 control-label">Tên </label>
											<div class="col-sm-8">
												<input type="text" th:field="*{id}" th:value="*{id}"
													hidden="true" /> <input type="text" class="form-control"
													th:field="*{name}" placeholder="Tên"/>
											</div>
										</div>
										<div class="form-group">
											<label for="description" class="col-sm-4 control-label">Mô tả </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" th:field="*{description}" placeholder="Mô tả"/>
											</div>
										</div>
										<div class="form-group">
											<label for="target" class="col-sm-4 control-label">Mục tiêu </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" th:field="*{target}" placeholder="Mô tả"/>
											</div>
										</div>
										<div class="form-group">
											<label for="type" class="col-sm-4 control-label">Kiểu </label>
											<div class="col-sm-8">
												<select th:field="*{type}" class="form-control">
													<option value="0">Thắng</option>
													<option value="1">Thua</option>
													<option value="2">Hòa</option>
													<option value="3">Tham gia</option>
													<option value="4">chặt 2</option>
													<option value="5">Ăn gà</option>
													<option value="6">Thắng liêng</option>
													<option value="7">Sập làng</option>
													<option value="8">Uh KKK</option>
													<option value="9">Thắng Sâm</option>
													<option value="10">Cướp chương</option>
													<option value="11">Tới trắng</option>
													<option value="12">Đút 3 bích</option>
													<option value="13">Mười át cụ</option>
													<option value="14">Thắng Sáp</option>
													<option value="15">Sám chi cuối</option>
													<option value="16">Uh tròn</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label for="value" class="col-sm-4 control-label">Koin </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" th:field="*{koin}" placeholder="Chip thưởng"/>
											</div>
										</div>
										<div class="form-group">
											<label for="value" class="col-sm-4 control-label">Gold </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" th:field="*{gold}" placeholder="Chip thưởng"/>
											</div>
										</div>
										<div class="form-group">
											<label for="zoneId" class="col-sm-4 control-label">Game </label>
											<div class="col-sm-8">
												<select name="game" th:field="*{zoneId}" class="form-control">
													<option value="-1">Tất cả</option>
													<option th:each="game: ${games}" th:value="${game.id}" th:text="${game.name}">Lựa chọn</option>
												</select>
											</div>
										</div>
									</div>
									</div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                        </form>
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- Core Scripts - Include with every page -->
        <script src="js/jquery-1.10.2.js" th:src="@{/resources/sb-admin-v2/js/jquery-1.10.2.js}"></script>
        <script src="js/bootstrap.min.js" th:src="@{/resources/sb-admin-v2/js/bootstrap.min.js}"></script>
        <script src="js/plugins/metisMenu/jquery.metisMenu.js" th:src="@{/resources/sb-admin-v2/js/plugins/metisMenu/jquery.metisMenu.js}"></script>

        <!-- Page-Level Plugin Scripts - Dashboard -->
        <script src="js/plugins/morris/raphael-2.1.0.min.js" th:src="@{/resources/sb-admin-v2/js/plugins/morris/raphael-2.1.0.min.js}"></script>
        <script src="js/plugins/morris/morris.js" th:src="@{/resources/sb-admin-v2/js/plugins/morris/morris.js}"></script>
     <!-- Page-Level Plugin Scripts - Tables -->
        <script src="js/plugins/dataTables/jquery.dataTables.js" th:src="@{/resources/sb-admin-v2/js/plugins/dataTables/jquery.dataTables.js}"></script>
        <script src="js/plugins/dataTables/dataTables.bootstrap.js" th:src="@{/resources/sb-admin-v2/js/plugins/dataTables/dataTables.bootstrap.js}"></script>
        <!-- SB Admin Scripts - Include with every page -->
        <script src="js/sb-admin.js" th:src="@{/resources/sb-admin-v2/js/sb-admin.js}"></script>
 		<!-- form validate -->
         <script src="/resources/jquery-validation-1.13.1/jquery.validate.min.js" th:src="@{/resources/jquery-validation-1.13.1/jquery.validate.min.js}"></script>
        <script src="/resources/jquery-validation-1.13.1/additional-methods.min.js" th:src="@{/resources/jquery-validation-1.13.1/additional-methods.min.js}"></script>   
        <script src="/resources/jquery-validation-1.13.1/jquery-ui.min.js" th:src="@{/resources/jquery-validation-1.13.1/jquery-ui.min.js}"></script>
        
        <!-- Page-Level Demo Scripts - Tables - Use for reference -->
        <script>
        $(document).ready(function () {
            //page load
        	 // validate signup form on keyup and submit
    		$("#dataForm").validate({
    			rules: {
    				name: {
    					required: true,
    				},
    				description: {
    					required: true,
    				},
    				target:{
    					required: true,
    					number:true,
    				},
    				value:{
    					required: true,
    					number:true,
    				}
    			},
    			messages: {        				
    				name: {
    					required: "Please enter a name",
    				
    				},
    				description: {
    					required: "Please enter a content",
    				},
    				target: {
    					required: "Please enter a number",
    					number: "Please enter a number",
    				},
    				value: {
    					required: "Please enter a number",
    					number: "Please enter a number",
    				}
    			}
    		});
          });
        </script>

    </body>

</html>
